FOUNDRY_PROJECT_ENDPOINT="https://<account>.services.ai.azure.com/api/projects/<project>"
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-5.6-luna"
AZURE_SEARCH_ENDPOINT="https://<search-service>.search.windows.net"
KNOWLEDGE_BASE_NAME="conocimiento-restaurante"
KNOWLEDGE_BASE_TIMEOUT_SECONDS="20"
CASHIER_TIMEOUT_SECONDS="30"
CASHIER_REQUIRE_REVIEW="false"
CASHIER_A2A_PUBLIC_URL="http://localhost:8090/"
CASHIER_HOST="0.0.0.0"
CASHIER_PORT="8090"
APP_ENVIRONMENT="development"
AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
